
header{
    height: 60px;
    display: flex;
    background-color: #293241;
    color: white;
    justify-content: space-between; 
    align-items: center;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding: 0;
    margin-left: 10px;
  }

ul{
    list-style: none;
    margin-right: 5px;
}

.header-option-container{
    margin-right: 10px;
}