
header{
    height: 50px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between; 
    align-items: center;
}

h1{
    font-size: 2rem;
    padding: 0;
    margin-left: 5px;
  }

ul{
    list-style: none;
    margin-right: 5px;
}